# Enable URL rewriting
RewriteEngine On

# Redirect to index.php if the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [QSA,L]

# Remove ?i=1 from the URL
RewriteCond %{QUERY_STRING} ^i=1$
RewriteRule (.*) /$1? [R=301,L]

# Set the default index file
DirectoryIndex index.php

# Deny access to .htaccess file itself
<Files .htaccess>
    Require all denied
</Files>

# Deny access to sensitive files
<FilesMatch "\.(sql|log)$">
    Require all denied
</FilesMatch>